---
layout: page
title: Arena of Evolution Tier List
menu: Tier
description: "Tier List of Arena of Evolution: Red Tides. Which heroes you must buy, should buy or never buy in early game, mid game and late game."
tier:
    Early Game:
        S:
            - Blademaster
            - Keenedge
        A:
            - Sunfire
            - Medic
            - Thunderer
            - Vajra
            - Illusionist
            - Marauder
            - Slasher
            - Electrocutioner
            - Kamikaze
            - Gorilla
            - Panda Monk
        B:
            - Shuriken Panda
            - Mortus
            - Engineer
            - Razorclaw
            - Acidtooth
            - Tusker
            - Vinewarden
            - Dragon Breath
            - Ironbird Rider
            - Siren
        C:
            - Arhat
            - Skycrab
            - Paviser
        D:
            - Oculus
            - Sniper
    Mid Game:
        S+:
            - Sunfire
        S:
            - Chan Master
            - Blademaster
            - Electrocutioner
        A:
            - Skyclaw
            - Cruiser
            - Bone Dragon
            - Direwing
            - Medic
            - Shuriken Panda
            - Oculus
            - Thunderer
            - Illusionist
            - Slasher
            - Electrocutioner
            - Vinewarden
            - Mindbreaker
            - Goldmane
            - Dreadpaw
            - Arhat
            - Kamikaze
            - Grenadier
        B:
            - Slasher
            - Warbringer
            - Bulwark
            - Soulmentor
            - Keenedge
            - Vajra
            - Razorclaw
            - Acidtooth
            - Tusker
            - Dragon Breath
            - Siren
            - Mantakor
        C:
            - Commando
            - Outrider
            - Skycrab
            - Panda Monk
            - Paviser
        D:
            - Sniper
            - Chanter
        E:
            - Ironbird Rider
    Mid Game:
        S+:
            - Sunfire
        S:
            - Chan Master
            - Electrocutioner
            - Blademaster
        A:
            - Skyclaw
            - Cruiser
            - Bone Dragon
            - Direwing
            - Medic
            - Thunderer
            - Illusionist
            - Slasher
            - Electrocutioner
            - Vinewarden
            - Mindbreaker
            - Goldmane
            - Dreadpaw
            - Arhat
            - Kamikaze
            - Grenadier
        B:
            - Slasher
            - Warbringer
            - Shuriken Panda
            - Bulwark
            - Soulmentor
            - Keenedge
            - Vajra
            - Razorclaw
            - Gorilla
            - Acidtooth
            - Tusker
            - Dragon Breath
            - Siren
            - Mantakor
            - Chanter
        C:
            - Commando
            - Outrider
            - Skycrab
            - Oculus
            - Panda Monk
            - Paviser
        D:
            - Sniper
            - Hive Queen
        E:
            - Ironbird Rider
    Late Game:
        S+:
            - Sunfire
            - Hailstorm
        S:
            - Mirage Caller
            - Chan Master
        A:
            - Forest Rager
            - Tempest Keeper
            - Skyclaw
            - Cruiser
            - Bone Dragon
            - Direwing
            - Shuriken Panda
            - Electrocutioner
            - Oculus
            - Thunderer
            - Illusionist
            - Slasher
            - Chanter
            - Electrocutioner
            - Vinewarden
            - Mindbreaker
            - Goldmane
            - Dreadpaw
            - Grenadier
        B:
            - Devourer
            - Catapult
            - Blademaster
            - Warbringer
            - Bulwark
            - Soulmentor
            - Keenedge
            - Arhat
            - Sentinel
            - Tusker
            - Hive Queen
            - Commando
            - Sniper
            - Siren
        C:
            - Outrider
            - Skycrab
            - Panda Monk
            - Paviser
        D:
            - Mantakor
        E:
            - Skycrab
            - Ironbird Rider
---
{% assign tiers = "S+ S A B C D E" | split: " " %}
<table>
    <tr>
        <th></th>
        {% for stage in page.tier %}
            <th>{{ stage[0] }}</th>
        {% endfor %}
    </tr>
    {% for tier in tiers %}
        <tr>
            <th>{{ tier }}</th>
            {% for stage in page.tier %}
                <td>
                    {% for hero in stage[1][tier] %}
                    {% assign info = site.pages | where: "title", hero | first %}
                    <a href="{{ info.url }}"><img src="/assets/img/heroes/avatar/{{hero}}.png" width="50" data-tippy-content="<b>{{ info.title }}</b> - {{ info.spec }} - {{ info.class }}"></a>
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@4"></script>
<script>tippy('[data-tippy-content]', {
    arrow: true
})</script>