<div class="row">
    <div class="col-12 col-md-6" style="float: left; width: 50%; height: 200px; padding: 0px">
        <div class="feature-link">
            <a class="stripped" href="/mix.html">
                <h2>Mix</h2>
                <small>Build and test your own combo of army to see how many buff effects you got when putting this army in to battle.</small>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-6" style="float: left; width: 50%; height: 200px; padding: 0px">
        <div style="float: left; width: 100%; height: 100px">
            <div class="feature-link"><a href="/heroes.html">Heroes In Arena of Evolution</a></div>
        </div>
        <div style="float: left; width: 50%; height: 100px">
            <div class="feature-link"><a href="/specs.html">Specs</a></div>
        </div>
        <div style="float: left; width: 50%; height: 100px">
            <div class="feature-link"><a href="/classes.html">Classes</a></div>
        </div>
    </div>
</div>