img {
    max-width: 100%;
    height: auto;
}
footer .svg-icon {
    padding: 0;
}
.slider {
    position: relative;
}
.slider img {
    width: 100%;
}
.slider .lv {
    cursor: pointer;
    position: absolute;
    width: 15%;
    height: 25%;
    top: 70%;
}
#heroes {
    width: 100%;
    overflow-x: auto;
    border: 1px solid #c9c9c9;
}
#heroes table {
    margin-bottom: 0px;
    font-size: 14px;
}
@media screen and (min-width:992px) {
    #heroes table {
        width: 100%;
        table-layout: fixed;
    }
}
.btn-feature {
    display: block;
    width: 100%;
    padding: 30px;
    font-size: 20px;
    text-align: center;
    background: lightgray;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn-feature:hover {
    background: #333;
    color: white;
    text-decoration: none;
}
#mix .square {
    position: relative;
    float: left;
    width: 12.5%;
    padding-bottom: 12.5%;
    border-radius: 100%;
    background-size: cover;
    cursor: pointer;
}
#mix .blank {
    background-color: #fbbc05;
    border: 1px solid white;
    border-radius: 10px;
}
#summary .square {
    float: none;
    display: inline-block;
    width: 6.25%;
    padding-bottom: 6.25%;
}