body {
    background-color: #212121;
    background-image: url(/assets/img/shared/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Roboto Slab', serif;
}
main {
    background: white;
    color: #212121;
}
a, a:visited, .site-nav .page-link, .site-title, .site-title:visited {
    color: #fbbc05;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
    color: #f9a825;
}
img {
    max-width: 100%;
    height: auto;
}
.site-nav {
    line-height: 100px;
    z-index: 100;
}
.site-header {
    border: none;
    box-shadow: 1px 1px 5px grey;
}
footer .svg-icon {
    padding: 0;
}
.green {
    color: #34a853;
}
.blue {
    color: #4285f4;
}
.slider {
    position: relative;
}
.slider img {
    width: 100%;
}
.slider .lv {
    cursor: pointer;
    position: absolute;
    width: 15%;
    height: 25%;
    top: 70%;
}
#heroes {
    width: 100%;
    overflow-x: auto;
    border: 1px solid #c9c9c9;
}
#heroes table {
    margin-bottom: 0px;
    font-size: 14px;
    text-align: center;
}
@media screen and (min-width:992px) {
    #heroes table {
        width: 100%;
        table-layout: fixed;
    }
}
.stripped {
    background: repeating-linear-gradient(
    45deg,
    #ffd46d,
    #ffd46d 10px,
    #fbbc05 10px,
    #fbbc05 20px
    );
    color: black !important;
    border: none !important;
}
.feature-link {
    display: table;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.feature-link a {
    background-color: white;
    display: table-cell;
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.post-list li {
    margin-bottom: 20px;
}
.post-list li.hot a {
    font-size: 30px;
}
.feature-link a, .post-list li a {
    text-align: center;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 10px;
}
.feature-link a:hover , .post-list li a:hover {
    box-shadow: 1px 1px 5px grey;
}
[v-cloak] {
    display: none;
}
#mix .square {
    position: relative;
    display: inline-block;
    width: calc(12.5% - 2px);
    padding-bottom: 12.5%;
    border-radius: 100%;
    background-size: cover;
    vertical-align: middle;
    cursor: pointer;
}
#mix .blank {
    background-color: gray;
    margin: 1px;
    float: left;
    border-radius: 10px;
}
#mix #share .toggle {
    text-align: right;
}
#mix #share .overlay {
    background: #000000CC;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}
#mix #share .content {
    background: white;
    position: fixed;
    padding: 25px;
    max-width: 100vw;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 5px grey;
    z-index: 101;
}
#mix #share .link {
    position: relative;
}
#mix #share .link input, #mix #share .iframe textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
}
#mix #share .link input:focus, #mix #share .iframe textarea:focus {
    outline: none;
}
#summary {
    clear: both;
}
#summary .col-6 {
    float: left;
    cursor: pointer;
}
#buff #spec .active {
    color: #4285f4;
}
#buff #class .active {
    color: #34a853;
}
.hidden {
    display: none;
}
.tippy-content a {
    color: white;
    text-decoration: underline;
}
#comments {
    font-size: 11px;
    font-weight: bold;
    color: #fbbc05;
}
.fb-comments:not([fb-xfbml-state="rendered"])::after {
    content: url(/assets/img/shared/fb-loading.gif);
    margin-left: 10px;
}
#diff .up {
    color: #34a853;
    font-weight: bold;
}
#diff .up::after {
    content: "\2191"
}
#diff .down {
    font-weight: bold;
    color: tomato;
}
#diff .down::after {
    content: "\2193"
}
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}
.synergy {
    clip-path: polygon(8% 8%, 92% 8%, 92% 70%, 50% 92%, 8% 70%);
    -webkit-clip-path: polygon(8% 8%, 92% 8%, 92% 70%, 50% 92%, 8% 70%);
    width: 28px;
    height: 32px;
}
.synergy.medium {
    width: 45px;
    height: 52px;
}